<!DOCTYPE html>
<html lang="en">
  
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Class Login Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    <iframe id="iframe" width="560" height="315" src="https://www.youtube.com/embed/mWyak0g5LLI" frameborder="100" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <form action="/html/tags/html_form_tag_action.cfm" method="post">
<textarea name="comments" id="comments" style="width:40%;padding:2%;height:150px;font:20px/30px cursive;border:10px double purple;">
Welcome to the Coding Christmas Webpage!
Login to Submit Coding Projects Under the Christmas Tree! Created By KarstenN, You can View my Personal Biography Below👇
</textarea>
</form>
    
    
       <script>
function myFunction() {
  location.replace("ChristmasPage.html")
}
</script>   
    
    <script>
function myFunction2() {
  location.replace("Biography.html")
}
</script>
    <button id="Biography1" onclick="myFunction2()">Biography Here</button>
   
    <script>
function myFunction3() {
  location.replace("PresentedProjects.html")
}
</script>
    <button id="PresentedProjects" onclick="myFunction3()">Presented Projects</button>
    
    
    
 <div id="homepageform">
       <form class="form-signin">       
      <h2 class="form-signin-heading">Login/Register</h2>
      <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button onclick="myFunction()">Login</button>
    </form> 
    </div>
    
    <a target="_blank" href="https://www.booked.net/weather/collingwood-6147"><img src="https://w.bookcdn.com/weather/picture/32_6147_1_1_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=569&anc_id=36294"  alt="booked.net"/></a>
    
  </head>
</html>
